@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400);
body {
    font: normal 100%/150% "Permanent Marker";
    background-color: purple;
    color:white;
    width: 75%;
    margin: auto;
}

a {
  color:gold;
}

section {
  clear: both;

}



li a{
  color:white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-left: 20px;
  text-align: center;
}

a:hover{
  color:gold;
}

img {
  float: left;
  margin-right: 3%;
}

footer {
  clear: both;
  background-color: gold;

}
